<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Assets/CSS/AboutMe.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap" rel="stylesheet">
    
    <title>About me </title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Back</a></li>
            </ul>
        </nav>
    </header>

    <!--This page has only one section.-->
    <main>
        <section>
                <h1>About me...</h1>

               <div><p>¡Hello, I'm Luisa Fernanda!</p></div> 

             <article> A young woman distinguished by her self-discipline and innovative ideas.</article>
            
             <article> Passionate about continuous learning and the acquisition of new skills, with a strong interest in exploring the digital realm of technology and innovation.</article>
             
             <article>I'm an entreperneur capable of taking risky decisions. That should be the reason why I have a peculiar disruptive mindset and a critical thinking.</article>
             
             <article>Complementing the above, I have a skill called neuroplasticity, which means I can easily adapt to new environments, thinkings or knowledge. This ability help me perfectly with my kind of goals. </article>
            
        </section>
    </main>


    <footer>

        <p>Made with <img src="../Assets/Img/heart-svgrepo-com.svg" alt="Heart" width="10px"> by Luisa Fernanda</p>

    </footer>

</body>
</html>

